@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        background: inherit !important;
    }

    .card-preview {
        background-color: inherit !important;
        color-adjust: exact !important;
        position: relative !important;
        overflow: visible !important;
    }

    .card-preview img {
        display: block !important;
        position: absolute !important;
    }

    /* Remove buttons and toolbars during print */
    .add-field,
    .upload-btn,
    .delete-img,
    .menu-toggle,
    .menu,
    .toolbar {
        display: none !important;
    }



}

.toolbar {
    display: flex;
    column-gap: 20px;
    gap: 10px;
    margin-bottom: 10px;

    .toolbar-btn {
        background-color: #c3daf4;
        border: none;
        border-radius: 8px;
        height: 40px;
        padding: 12px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        column-gap: 10px;
        border: 2px solid transparent;

        &:hover {
            background-color: #a8c7f1;
            border: 2px solid #5290f5;
        }
    }
}

.app {
    display: flex;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    width: 250px;
    background: #f5f5f5;
    border-right: 1px solid #ddd;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        padding: 6px 10px;
        border: none;
        background: #007bff;
        color: white;
        border-radius: 6px;
        cursor: pointer;
    }

    .align-buttons {
        display: flex;
        gap: 5px;

        button {
            background: #ddd;
            color: #333;
        }
    }
}

.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.card-preview {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;

    .add-field {
        background: #eee;
        border: 1px solid #ccc;
        color: #333;
        margin-bottom: 10px;
    }

    input {
        padding: 6px;
        width: 60%;
        border: 1px solid #aaa;
        border-radius: 4px;
    }

    .menu-wrapper {
        position: relative;



        .menu {
            position: absolute;
            background: white;
            border: 1px solid #ccc;
            border-radius: 8px;
            top: 45px;
            right: 0;
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            row-gap: 5px;
            column-gap: 10px;
            z-index: 10;

            button{
                display: flex;
                align-items: center;
                border: none;
                border-radius: 8px;
                padding: 6px;
                background-color: #f0f0f0;
                cursor: pointer;
                font-size: 14px;
                gap: 6px;

                &:hover{
                    background-color: #dcdcdc;
                }
            }

            .margin_menu{
                grid-column: span 2;
            }
        }


        .icon-btn {
            background: none;
            border: none;
            cursor: pointer;
            color: #333;
            font-size: 18px;
            padding: 4px;

            &:hover {
                color: #4a90e2;
            }

            svg {
                font-size: 20px;
            }
        }

        .color-picker {
            display: inline-flex;
            align-items: center;
            gap: 6px;
        }

    }
}

.templates-panel {
    width: 220px;
    background: #fafafa;
    border-left: 1px solid #ddd;
    padding: 15px;
}

.custom-field {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;

    .custom-icon,
    .menu-toggle {
        cursor: pointer;
        font-size: 18px;
        background-color: #c3daf4;
        border: none;
        border-radius: 8px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.custom-icon {
            color: red;
        }

        &.menu-toggle {
            color: green;
        }

        &:hover {
            background-color: #a8c7f1;
            border: 2px solid #5290f5;
        }
    }

}